%script{src: '/js/capture.js'}

%video{ autoplay: true, id: 'video', width: '640', height: '480' }
%input{ id: 'snap', type: 'button', value: 'Click' }
%canvas{ id: 'canvas', width: '640', height: '480' }